@import url("/src/css/main.css");
@import url("/src/css/components.css/card_carousel.css");
@import url("/src/css/carousel.css");
@import url("/src/css/components.css/header.css");
@import url("/src/css/components.css/menu.css");
@import url("/src/css/components.css/footer.css");



